.detail h2 {
    color: white;
    text-align: center;
}

.detail h3 {
    color: white;
}

.detail p {
    color: white;
}

.detailComponents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 150px;
}

.instructions {
    width: 90%;
}


.imageContainer {
   display:flex;
   flex-direction: column;
   justify-content:center;
   align-items:center; 
   height:300px;
   width:300px;
   margin-left: 70px;
}

.imageContainer img {
    max-width:100%;
    max-height:100%;
}

.imageContainer p {
    font-size: 20px;
    margin-top: 10px;
}

.ingredientTable {
    width: 95%;
}